* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100vw;
    text-align: center;
}


h1 {
    text-align: center;
    color: white;
    background-color: black;
    padding: .5em;
    margin-bottom: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 2em;
    border: 4px solid black;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: black;
}

.githubButton {
    background-color: #1e90ff;
    padding: .65em;
    border: none;
    width: 8em;
    border-radius: 1em;

}

